<html>
<title>spy主页</title>
<body>
<h1>欢迎进入spy</h1>
<h5>文件上传</h5><hr/>
<form id="file_upload_id" name="file_upload_name" action="<%=root%>/CommonController.jhtml?method=doFileUpload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="functionId" value="${functionId}"/>
    <input type="hidden" name="fileType" value="${fileType}"/>
    <input type="hidden" name="maxSize" value="${maxSize}"/>
    <div><input type="file" name="file_upload"/></div>
    <div><input type="submit" value="上传"/></div>
</form>
<hr/>
<table>
        <tr>
            <td>非法项</td>
            <td>描述</td>
        </tr>
        #foreach(${element} in ${list})
            <tr>
                <td>${element.a}</td>
                <td>${element.b}</td>
            </tr>
        #end
    </table>
</body>
</html>